{% if pagination is defined %}
    <table>
        {% for article in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td><a href="{{ path('show_product', {'id': article.id}) }}">{{ article.name }}</a></td>
                <td>{{ article.description }}</td>
            </tr>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endif %}