{% if pagination is defined %}
    <div>
        {% for article in pagination %}
            <div {% if loop.index is odd %}class="color"{% endif %} style="border: 1px solid #afd9ee; margin-bottom: 2px; padding: 10px 20px; padding-right: 300px">
                <div >
                <h4><a href="{{ path('show_product', {'id': article.id}) }}">{{ article.name }}</a></h4>
                <h5>{{ article.description }}</h5>
                    </div>
            </div>
        {% endfor %}
    </div>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endif %}