{% extends 'base.html.twig' %}

{% block title %} Product {% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ product.name }}</h1>
        <h2><span style="color: #00AA88">Description:</span> {{ product.description }}</h2>
        <h3><span style="color: #00AA88">SKU:</span> {{ product.sku }}</h3>
    </div>
{% endblock %}