{% extends 'base.html.twig' %}

{% block title %} Product {% endblock %}

{% block body %}
    <div class="container">
        {{ product.name }}
        {{ product.description }}
    </div>
{% endblock %}