{% extends 'base.html.twig' %}

{% block body %}
<form action="{{ path('change_password') }}" method="post">
    <label for="email">Please, enter your email:</label>
    <input type="text" id="email"/>
    <button>Send me mail to change password</button>
</form>
{% endblock %}